<h1>Records#SHOW</h1>
<strong>URL:</strong> <%= @record.url %> <br />
<br />
<strong>Visits to this URL</strong> <%= @record.visits %> <br />
<strong>Visits from this URL (as referrer)</strong> <%= @record.referrers %>
