<h1 class="page_title">Number of Page Views Per URL: Last 5 Days</h1>

<div class="container" ng-app="MyAnalytics" ng-controller="getTopUrls">

<div ng-repeat="(date, data) in reports ">
  <h2 class="date">{{ date }}</h2>
  <table>
    <tr>
      <th>URL</th>
      <th>VISITS</th>
    </tr>
    <tbody>
      <tr ng-repeat="(id, record) in data">
        <td>{{ record.url }}</td>
        <td>{{ record.visits }}</td>
      </tr>
    </tbody>
  </table>
</div>