<h1 class="page_title">Top 5 Referrers for the Top 10 URLs: Last 5 Days </h1>

<div class="container" ng-app="MyAnalytics" ng-controller="getTopReferrers">

<div ng-repeat="(date, stuff) in reports ">
  <h2 class="date">{{ date }}</h2>
  <table>
    <tr>
      <th>URL</th>
      <th>VISITS</th>
      <th>REFERRERS</th>
    </tr>
    <tbody ng-repeat="(tag, data) in stuff[0] ">
      <tr ng-repeat="record in data ">
        <td>{{ record.url }}</td>
        <td>{{ record.visits }}</td>
        <td> 
          <div class="referrer" ng-repeat="ref in record.referrers">
            <div class="ref_url">{{ ref.url }}</div>
            <div class="ref_visits">{{ ref.visits }}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>