<h1>Number of page views, per url, during the last 5 days</h1>

<div class="container" ng-app="MyAnalytics" ng-controller="getData">

<div class="section">
  <h2>Visits</h2>
  <div class="report" ng-repeat="(date,report) in reports' ">
    <h3>{{ date }}</h3>
    <div ng-repeat="data in report">
      <a href="{{data.url}}">{{data.url}}</a> has been visited {{data.visits}} times.
    </div>
  </div>
</div>

</div>