<h1 class="page_title">Top 5 Referrers for the Top 10 URLs: Last 5 Days </h1>

<div class="container" ng-app="MyAnalytics" ng-controller="getTopReferrers">

<div ng-repeat="(date, array) in reports | orderBy: date ">
  <h2 class="date">{{ date }}</h2>
  <table>
    <tr>
      <th>URL</th>
      <th>VISITS</th>
      <th>REFERRERS</th>
    </tr>
    <tbody ng-repeat="data in array ">
      <tr>
        <td>{{ data.url }}</td>
        <td>{{ data.visits }}</td>
        <td> 
          <div class="referrer" ng-repeat="ref in data.referrers">
            <div class="ref_url">{{ ref.url }}</div>
            <div class="ref_visits">{{ ref.visits }}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>