// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.date {
  border-bottom:1px solid gray;
}

table, th, td {
  border: 1px solid black;
}

th {
  height: 50px;
}

td, th {
  padding:10px;
}

table {
  width:100%;
  border-collapse: collapse;
}

.ref_url {
  display:inline-block;
}

.ref_visits { 
  float:right;
}