// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Helvetica, Verdana, Geneva, sans-serif;
}

#wrapper {
  margin-left:20px;
  margin-right:20px;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

h2.date {
  border-bottom:1px solid gray;
}

table, th, td {
  border: 1px solid black;
}

th {
  height: 50px;
}

td, th {
  padding:10px;
}

table {
  width:100%;
  border-collapse: collapse;
  margin-top:20px;
}

.ref_url {
  display:inline-block;
}

.ref_visits { 
  float:right;
}